
/*____ ****Main Layout**** ____ */

body {
  font-family: 'Muli', sans-serif;
  margin: 0 auto;
  background: #EFF4F9;  
}

main {
    max-width: 768px;
    margin: 0 auto;
}

.main-header {
    text-align: center;
    background: #274258;
    color: white;
    padding: 15px 0 15px;
}

.intro {
    text-align: center;
    padding: 16px 0 26px;
    border-bottom: 2px solid #274258;   
}

.intro p {
    color: #969798;
}

h1,
legend {
  font-family: 'Merriweather', serif;
}

/* ____ ****Form First Field**** ____ */

.flex-set {
    display: flex;
    flex-direction: column;
}

legend {
     font-weight: 700;
     font-size: 20px;
     padding: 20px 0 20px;
}

fieldset {
    border: none;
}

/* ____ ****Form Second Field**** ____ */



/* ____ ****Media Querie @ 768px**** ____ */

@media (min-width: 768px) {

    
}